body{
    margin: 0px;
    font-family:quicksand;
}
.nav1{
    display: flex;
    justify-content:space-between;
}
.leftTop{
    display: flex;

}
#Logo{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 30px;
}
.nav1link {
    display: flex;
    justify-content: space-between;
    width: 400px;
    list-style: none;
    margin-right: 40px;
}
.nav1link li a{
    text-decoration: none;
    font-size: 20px;
    margin: 0px 15px 0px 15px;
}
@media (max-width:375px) {
    header{
    flex-direction: column;}
}
header{
    background-color: #9375ff;
    color: white;
    display: flex;
    justify-content:space-evenly;
}
#headerimg{
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#bottunMore{
    background-color: #ffe101;
    color: #00a69c;
    height: 30px;
    padding-right: 40px;
    padding-left: 40px;
    border: none;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 60px;
}
@media (max-width:375px){
    .services {
        flex-direction: column;
    }
}
.services {
    background-color: #dad3f8;
    display:flex;
    justify-content: space-around;
    padding:30px 0px 30px 0px;
    text-align: center;
}
.yellow1{
    background-color: #ffe101;
    border-radius: 50%;
    padding: 10px;
}
.yellow2{
    background-color: #ffe101;
    border-radius: 50%;
    padding: 10px;
}
.yellow3{
    background-color: #ffe101;
    border-radius: 50%;
    padding: 10px;
}
#imgUX{
    height: 80px;
   width: 80px;
}
#imgDesign{
    height: 80px;
    width: 80px;
}
#imgSupport{
    height: 80px;
    width: 80px;
}
.bord1{
    border: white;
    background-color: white;
    padding: 20px 40px 20px 40px;
}
.bord2{
    border: white;
    background-color: white;
    padding: 20px 40px 20px 40px;
}
.bord3{
    border: white;
    background-color: white;
    padding: 20px 40px 20px 40px;
}
@media (max-width:375px){
    .secLine1 {
        flex-direction: column;
    }
}
.secLine1{
    display:flex;
    justify-content: space-evenly;
    padding-top: 30px;
}
@media (max-width:375px){
    .contactus {
        flex-direction: column;
    }
}
.contactus{
    display: flex;
    justify-content: space-evenly;
}
@media (max-width:375px){
    #ff {
        flex-direction: column;
    }
}
#ff{
    display: flex;
    justify-content: space-between;
}
#lastfooter{
    background-color: #9375ff;
    color:white;
    display: flex;
    text-align: center;
}